<%= form_for(@comment.create_reply!) do |f| %>
  <% if @listing.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(listing.errors.count, "error") %> prohibited you from commenting:</h2>
      <ul>
        <% listing.errors.full_messages.each do |message| %>
        <li>
          <%= message %>
        </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.text_area :reply_body, class: 'form-control', placeholder: 'Type your reply here' %>
  </p>
  <br />
  <p>
    <%= f.submit 'Reply', class: 'btn btn-warning' %>
  </p>
<% end %>
