<div class="border rounded p-3 mb-4">
  <div class="row">
    <div class="col-md-2">
    <% if comment.user.avatar.url.present? %>
      <%= image_tag(comment.user.avatar.url(:comments), class: 'rounded-circle img-fluid' ) %>
    <% end %>
    </div>
    <div class="col-md-10">
      <h5 class="text-primary text-uppercase"><span class="text-success"><%= comment.user.name.split(" ").first %></span> asked:</h5>
      <p class="text-secondary"><%= comment.body %></p>
      <div class="d-flex justify-content-between align-items-center">
        <p class="mb-0 text-muted"><%= time_ago_in_words(comment.created_at) %> ago</p>
        <div class="buttons">
          <% if current_user == comment.user %>
            <%= link_to 'Delete', product_comment_path(comment.product, comment), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
          <% end %>
        </div>
      </div> 
    </div>
  </div>

<% if comment.reply.present? %>
  <div class="row">
    <div class="mt-3 mr-3 w-75 ml-auto d-flex p-3 align-items-center bg-light rounded">
      <div class="col-md-2">
        <% if @product.user.avatar.url.present? %>
          <%= image_tag(@product.user.avatar.url(:comments), class: 'rounded-circle img-fluid') %>
        <% else %>
          <%= image_tag 'https://via.placeholder.com/100', class: 'rounded-circle img-fluid' %>
        <% end %>
      </div>
      <div class="col-md-10">
        <h5 class="text-primary text-uppercase"><span class="text-danger"><%= get_user_first_name(@product.user.name) %></span> Answered:</h5>
        <p class="text-secondary"><%= comment.reply.reply_body %></p>
        <div class="d-flex justify-content-between align-items-center">
          <p class="mb-0 text-muted"><%= time_ago_in_words(comment.created_at) %> ago</p>
          <div class="buttons">
            <% if current_user == @product.user %>
              <%= link_to 'Delete', product_comment_reply_path({ product_id: @product.id, comment_id: comment.id }), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
            <% end %>
            </div>
      </div>
    </div>
  </div>
<% else %>
<% if current_user == @product.user %>
  <%= render 'replies_/form', product_id: @product.id, comment_id: comment.id %>
<% end %>
<% end %>

</div>
