<div class="border rounded p-3 mb-4">
  <div class="row">
    <div class="col-md-3">
      <% if comment.user.avatar.url.present? %>
        <%= image_tag(comment.user.avatar.url(:comments)) %>
      <% else %>
        <%= image_tag 'https://via.placeholder.com/100' %>
      <% end %>
    </div>
    <div class="col-md-9">
      <h5 class="text-primary text-uppercase"><%= comment.user.name %> asked:</h5>
      <p class="text-secondary"><%= comment.body %></p>
      <p class="mb-0 text-muted"><%= time_ago_in_words(comment.created_at) %> ago</p>
      <button class="reply btn-warning">Reply</button>
    </div>
  </div>
</div>
