
<h1><%= @user.name %></h1>

<h2>My Products</h2>
<div class="row">
  <% @products.each do |product| %>
  <div class="col-md-3">
      <div class="card mb-4 shadow-sm">
        <% if product.image.attached? %>
            <%= cl_image_tag(product.image.key, options = {class: 'img-fluid'}) %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= product.title %></h5>
          <p class="card-text"><%= limit_characters_helper(product.description, 100) %></p>
          <div class="d-flex align-items-center justify-content-between">
            <%= link_to 'View Product', product, class: "btn btn-success" %>
            <p class="lead m-0"><%= "₹ " + product.price.to_s %></p>
          </div>
        </div>
      </div>
  </div>
  <% end %>
</div>

<h3>Purchased Items</h3>
