<h1>Advanced Search</h1>

<%= form_for @search do |s| %>

<div class="field">
    <%= s.label :keywords %><br />
    <%= s.text_field :keywords %>
</div>

<div class="field">
    <%= s.label :subject %><br />
    <%= s.collection_select :subject, include_blank: true %>
</div>

<div class="field">
<%= s.label :min_price, "Price Range" %><br />
<%= s.text_field :min_price, size: 0 %>
<%= s.text_field :max_price, size: 500 %>

<div class="actions"><%= s.submit "Search" %></div>

<% end %>

<p><%= link_to 'Back', @products_path %></p>







# (:keywords, :price, :grade, :subject) 