<h1>Advanced Search</h1>

<%= form_for @search do |s| %>

<div class="field">
    <%= s.label :keywords %><br />
    <%= s.text_field :keywords %>
</div>

<div class="field">
    <%= s.label :subject %><br />
    <%= s.select :subject, options_for_select(subjects_helper), {}, class: 'form-control' %>
</div>

<div class="field">
<%= s.label :min_price, "Price Range" %><br />
<%= s.text_field :min_price, size: 0, placeholder: "Min Price" %>
<%= s.text_field :max_price, size: 0, placeholder: "Max Price" %>

<div class="actions"><%= s.submit "Search" %></div>

<% end %>

<p><%= link_to 'Back', @products_path %></p>







# (:keywords, :price, :grade, :subject) 