<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field my-4">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :subject %>
    <%= form.select :subject, options_for_select(subjects_helper), {}, class: 'form-control' %>
  </div>

  <div class="col">
    <%= form.label :price %>
    <div class="input-group">
      <div class="input-group-prepend">
          <div class="input-group-text">₹INR</div>
      </div>
      <%= form.text_field :price, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-lg btn-success' %>
  </div>
<% end %>
