<div class="row">
  <div class="col-md-8">
    <div class="product-image">
      <% if @product.image.attached? %>
        <%= cl_image_tag(@product.image.key, options = {class: 'img-fluid img-thumbnail'}) %>
        <!-- <img src="https://via.placeholder.com/750x500" alt="Product image" class="img-fluid img-thumbnail" > -->
      <% end %>
    </div>

    <h2 class="mt-2 mb-3">
      <%= @product.title %>
    </h2>

    <p>
      <strong>Price:</strong>
      <%= "₹ " + @product.price.to_s %>
    </p>

    <p>
      <strong>Subject:</strong>
      <%= @product.subject %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @product.description %>
    </p>

    <div class="actions mb-5">
      <%= link_to 'Edit Product', edit_product_path(@product), class: 'btn btn-primary mr-2' %>
      <%= link_to 'Delete Product', @product, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      <%= link_to 'Back', products_path, class: 'btn btn-default' %>
    </div>

    <hr />

    <%= render 'products/related_products' %>

    <hr />

    <%= render 'products/comments' %>

    <div class="col-md-4">
        <div class="card mb-4 shadow-sm sticky">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal"><%= @product.title %></h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title"><%= "₹ " + @product.price.to_s %></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <p class="text-muted">What's included?</p>
                <li><%= fa_icon "check-circle", text: "10 pages of content" %></li>
                <li><%= fa_icon "check-circle", text: "Email Support" %></li>
                <li><%= fa_icon "check-circle", text: "Future Updates" %></li>
                <li><%= fa_icon "check-circle", text: "30 Day Guarentee" %></li>
              </ul>
              <%= render 'charges/form' %>
              <div class="text-center mt-3">
                <% if @product.updated_at > @product.created_at %>
                  <%= "Updated " + time_ago_in_words(@product.updated_at) + " ago" %> by <%= @product.user.name %>
                <% else %>
                  <%= "Created " + time_ago_in_words(@product.created_at) + " ago" %> by <%= @product.user.name %>
                <% end %>
            </div>
        </div>
    </div>

  </div>
</div>
