<div class="row">
  <div class="col-md-8">
    <div class="product-image">
      <img src="https://via.placeholder.com/750x500" alt="Product image" class="img-fluid img-thumbnail" >
    </div>

    <h2 class="mt-2 mb-3">
      <%= @product.title %>
    </h2>

    <p>
      <strong>Subject:</strong>
      <%= @product.subject %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @product.description %>
    </p>

    <div class="actions mb-5">
      <%= link_to 'Edit Product', edit_product_path(@product), class: 'btn btn-primary mr-2' %>
      <%= link_to 'Back', products_path, class: 'btn btn-default' %>
    </div>

    <h2>Comments</h2>

    <div class="comments mb-5">

      <% if @comments.nil? %>
      <h4>Ask a question?</h4>
      <p>Be the first to ask a question about this product.</p>

      <% else %>

      <% @comments.each do |comment| %>
      <p><%= comment.body %></p>
      <% end %>

      <% end %>

      <% if user_signed_in? %>
        <%= form_for @comment,  url: { controller: "products", action: "add_comment" } do |f| %>
          <div class="form-group">
            <%= f.text_area :body, class: "form-control" %>
          </div>
          <div class="actions">
            <%= f.submit 'Create Comment', class: "btn btn-primary" %>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="col-md-4">
        <div class="card mb-4 shadow-sm sticky">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal"><%= @product.title %></h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">₹ 5000</h1>
              <button type="button" class="btn btn-lg btn-block btn-success">Add To Cart</button>
            </div>
        </div>
    </div>

  </div>
