<div class="row">
  <div class="col-md-8">
    <div class="listing-image">
      <% if @product.image.attached? %>
          <%= cl_image_tag(@product.image.key, options = {class: 'img-fluid img-thumbnail'}) %>
      <% end %>
    </div>
    
    <hr>
    
    <h2 class="my-3">
      <%= @product.title %>
    </h2>

    <p>
      <strong>Description:</strong><br>
      <%= @product.description %>
    </p>

    <hr>

    <div class="d-flex align-items-center my-3">
      <%= fa_icon 'chevron-circle-right', class: "mr-3 fa-2x text-success" %><span class="mr-2 font-weight-bold">Subject: </span>
      <%= @product.subject %>
    </div>

    <hr>

    <div class="actions my-3">
      <% if current_user && (@product.user == current_user || current_user.superadmin_role) %>
        <%= link_to 'Edit Product', edit_product_path(@product), class: 'btn btn-primary mr-2' %>
        <%= link_to 'Delete Listing', @product, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger mr-2' %>
      <% end %>
      <%= link_to 'Back', root_path, class: 'btn btn-secondary ' %>
    </div>

    <hr>
    
    
    <hr>

    <%= render 'products/comments' %>


    <hr>

    <%= render 'products/related_products' %>

  </div>

  <%= render 'products/sidebar' %>
  

  <hr>

  

  

</div>