<div class="row">
  <div class="col-md-8">
    <div class="product-image">
      <% if @product.image.attached? %>
        <%= cl_image_tag(@product.image.key, options = {class: 'img-fluid img-thumbnail'}) %>
        <!-- <img src="https://via.placeholder.com/750x500" alt="Product image" class="img-fluid img-thumbnail" > -->
      <% end %>
    </div>

    <h2 class="mt-2 mb-3">
      <%= @product.title %>
    </h2>

    <p>
      <strong>Price:</strong>
      <%= number_to_currency(@product.price) %>
    </p>

    <p>
      <strong>Subject:</strong>
      <%= @product.subject %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @product.description %>
    </p>

    <div class="actions mb-5">
      <%= link_to 'Edit Product', edit_product_path(@product), class: 'btn btn-primary mr-2' %>
      <%= link_to 'Delete Product', @product, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      <%= link_to 'Back', products_path, class: 'btn btn-default' %>
    </div>

    <h2>Comments</h2>

    <div class="comments mb-5">

      <% if @comments.nil? %>
      <h4>Ask a question?</h4>
      <p>Be the first to ask a question about this product.</p>

      <% else %>

      <% @comments.each do |comment| %>
      <p><%= comment.body %></p>
      <% end %>

      <% end %>

      <% if user_signed_in? %>
        <%= form_for @comment,  url: { controller: "products", action: "add_comment" } do |f| %>
          <div class="form-group">
            <%= f.text_area :body, class: "form-control" %>
          </div>
          <div class="actions">
            <%= f.submit 'Create Comment', class: "btn btn-primary" %>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="col-md-4">
        <div class="card mb-4 shadow-sm sticky">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal"><%= @product.title %></h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title"><%= number_to_currency(@product.price) %></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <p class="text-muted">What's included?</p>
                <li><%= fa_icon "check-circle", text: "10 pages of content" %></li>
                <li><%= fa_icon "check-circle", text: "Email Support" %></li>
                <li><%= fa_icon "check-circle", text: "Future Updates" %></li>
                <li><%= fa_icon "check-circle", text: "30 Day Guarentee" %></li>
              </ul>
              <%= link_to 'Buy Now!', charges_path, method: 'post', class: 'btn d-block btn-success py-3' %>
            </div>
        </div>
    </div>

  </div>
</div>
