<div class="jumbotron my-5">
    <div class="container">
    <% if user_signed_in? %>
      <h1>Welcome, Guest </h1>
      <p>Your All in one place to Buy used Used Books,Cycles or literally anything that you want. Get Started Now !!!</p>
      <p><%= link_to 'Create New Product Ad', new_product_path, class: "btn btn-primary btn-lg", role: "button" %></p>
    <% else %>
      <h1>Hola NITK</h1>
      <p>Your All in one place to Buy used Used Books,Cycles or literally anything that you want. Sign Up Quickly!!!</p>
      <p><%= link_to 'Register Today', new_user_registration_path, class: "btn btn-primary btn-lg", role: "button" %></p>
    <% end %>
    </div>
</div>
<div class="row">
  <% @products.each do |product| %>
  <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img class="card-img-top" src="http://via.placeholder.com/300" alt="Card image">
        <div class="card-body">
          <h5 class="card-title"><%= product.title %></h5>
          <p class="card-text"><%= product.description %></p>
          <%= link_to 'View Product', product, class: "btn btn-primary" %>
        </div>
      </div>
  </div>
  <% end %>
</div>