<%= form_tag charges_path do %>
  <p>
    <% if flash[:error].present? %>
      <%= flash[:error] %>
    <% end %>
  </p>
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button d-none"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="<%= @product.title %>"
          data-amount="<%= @product.price.to_i %>"
          data-currency="INR"
          data-locale="auto"></script>
          <script>
          // Hide default stripe button, be careful there if you
          // have more than 1 button of that class
          document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
          </script>
          <% if user_signed_in? %>
            <button type="submit" class="btn btn-lg w-100 my-3 py-3 d-block btn-success">BUY NOW</button>
          <% elsif current_user == @product.user %>
            <%= link_to 'Delete Listing', @product, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-lg btn-block py-3 btn-danger' %>
          <% else %>
            <%= link_to 'REGISTER NOW!', new_user_session_path, class: "btn btn-lg w-100 my-3 py-3 d-block btn-success" %>
          <% end %>
  <% end %>
